extends layout

block content
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/javascripts/graph.js' type='text/javascript')

  h1 Current Status
  dl.dl-horizontal
    dt Garage Door:
    case reading.doorOpen
      when false
        dd
          span.glyphicon.glyphicon-download
          span &nbsp;Closed
      default
        dd
          span.glyphicon.glyphicon-upload
          span Open
    dt Light:
    case reading.lightOn
      when true
        dd On
      default
        dd Off
    dt Temp:
    dd #{reading.temp_F} °F
    dt Last Record:
    dd= reading.timestamp
    
  graph/
  script.
    renderChart('graph', !{JSON.stringify(readings)})

  if showRecords
    hr
    
    div
      table.table.table-striped
        thead
          tr
            th Id
            th Lang
            th LightOn
            th DoorOpen
            th Temp
            th Timestamp
        tbody
          each record, i in readings
            tr
              td #{record._id}
              td #{record.sourceLanguage}
              td #{record.lightOn}
              td #{record.doorOpen}
              td #{record.temp_F}
              td #{record.timestamp}
  
